
.navbar.bg-dark {
    background-color: rgb(152, 19, 2) !important;
}
.dl-horizontal dt {
    white-space: normal;
}

/* Cambia el tamaño del texto en la barra de navegación y el contenido de la página */
.navbar-collapse.collapse, .navbar-brand, .body-content {
    font-size: 30px;
    padding: 20px; 
}



.body-content {
    padding: 20px;
}
