

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 5em;
}


.row:hover {
    transition: all 0.5s;
    transform: translate(0, 50px);
    z-index: 100;
}

    .row:hover .hover {
        opacity: 1;
        visibility: visible;
        transform: translate(0, -110px) scale(1.1);
    }

.row:active {
    scale: 1.1
}

.hover {
    background: rgb(255,77,30);
    background: linear-gradient(180deg, rgba(152, 19, 2,1) 0%, rgba(152, 19, 2,0.6) 100%);
    padding: 30px;
    color: white;
    border-radius: 20px;
    text-align: center;
    opacity: 0;
    top: 0;
    visibility: hidden;
    position: absolute;
    transition: all 0.5s;
    z-index: -1;
}

.row {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 1em;
    display: grid;
    place-items: center;
    color: black;
    font-size: 1.6em;
    position: relative;
    text-align: center;
    cursor: pointer;
}



.hover:after {
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left: -5px;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: rgba(152, 19, 2,0.6) transparent transparent transparent;
}

main {
    max-width: 1200px;
    margin: auto;
    margin-top: 20em;
}


/* The Modal (background) */
.modal {
    border-radius: 1em;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    border-radius: 1em;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

a {
    cursor: pointer;
    text-decoration: underline
}

.dealy1, .dealy2, .dealy3, .dealy4, .dealy5, .dealy6 {
    animation-name: scale-up-center;
    animation-duration: 0.4s;
    #animation-timing-function: linear;
    #animation-fill-mode: both;
}

.dealy1 {
    animation-delay: 250ms;
}

.dealy2 {
    animation-delay: 500ms;
}

.dealy3 {
    animation-delay: 750ms;
}

.dealy4 {
    animation-delay: 1000ms;
}

.dealy5 {
    animation-delay: 1250ms;
}

.dealy6 {
    animation-delay: 1500ms;
}

@keyframes scale-down-bottom {
    0% {
        transform: scale(1);
        transform-origin: center bottom
    }

    100% {
        transform: scale(.5);
        transform-origin: center bottom
    }
}

@keyframes scale-up-center {
    0% {
        transform: scale(.5)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(100px)
    }
}
